{% extends "base.html" %} {% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card shadow p-4">
      <h3>{{ job.title }}</h3>

      <p><strong>Company:</strong> {{ job.company }}</p>
      <p><strong>Location:</strong> {{ job.location }}</p>
      <p><strong>Salary:</strong> {{ job.salary }}</p>

      <hr />

      <p>{{ job.description }}</p>

      <p class="text-muted">
            Posted {{ job.created_at|timesince }} ago
        </p>


      {% if user.role != "recruiter" %} {% if applied %}
      <button class="btn btn-secondary w-100 mt-3" disabled>Applied ✓</button>
      {% else %}
      <a href="{% url 'apply_job' job.id %}" class="btn btn-success w-100 mt-3">
        Apply Job
      </a>
      {% endif %} {% endif %}
    </div>
  </div>
</div>
{% endblock %}
